<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-row">
                <div class="layui-col-md4">&nbsp;</div>
                <div class="layui-col-md4">
                    <div class="kit-exception">
                        <!--<i class="layui-icon kit-exception-icon">&#xe61c;</i>-->
                        <img src="/images/cat.png" width="200px">
                        <h1 class="kit-exception-title">一个空白的首页</h1>
                    </div>
                </div>
                <div class="layui-col-md4">&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<script th:inline="none">
    layui.config({
        base: '/src/js/'
    }).use(['jquery', 'layer'], function () {
        var $ = layui.jquery;

        console.log(window.screen.height );

        $(".kit-exception").css('marginTop', window.screen.height  / 2 - 250);

    });

</script>
</script>