<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <!--<div class="layui-col-md3">-->
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><h2 style="float: left">加工坊</h2>

                            <div style="float: right">
                                <div class="layui-inline">
                                    <input class="layui-input" style="height: 30px; width: 120px"
                                           id="s_key" autocomplete="off" placeholder="加工坊或客户名">
                                </div>
                                <button class="layui-btn layui-btn-sm" data-type="reload" id="s_reload">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>

                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-sm" style="float: right;"
                                            onclick="openModel()">
                                        <i class="layui-icon">&#xe654;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <table id="workshopList" lay-filter="workshopList"></table>
                            <div id="laypage"></div>
                        </div>

                        <!--加工坊修改-->
                        <div style="display: none; padding: 15px" id="workshopUpdate">
                            <form class="layui-form layui-form-pane" lay-filter="u_workshop" id="u_workshop">
                                <input type="hidden" id="u_id">
                                <input type="hidden" id="u_customerId">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">加工坊名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="name" lay-verify="repeat"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item" id="u_customer" style="display: none">
                                    <label class="layui-form-label">所属客户</label>
                                    <div class="layui-input-block">
                                        <select name="customerName" lay-filter="u_customer" lay-verify="required">
                                            <option value=""></option>
                                            <option th:each="customer:${customers}"
                                                    th:value="${customer.id}" th:text="${customer.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">电话</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="phone" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">备注</label>
                                    <div class="layui-input-block">
                                        <textarea name="remarks" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="doUpdate">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail" href="#/customer/info_workshop">
        <i class="layui-icon">&#xe702;</i>详情
    </a>
</script>

<script th:inline="none">
    layui.config({
        base: '/src/js/'
    }).use(['jquery', 'layer', 'table','form'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            form = layui.form;


        //列表实例
        table.render({
            method: 'post',
            // done: function (res) {
            //     console.log(res)
            // },
            limit: 20,
            elem: '#workshopList',
            height: 'full-160',
            url: '../../customer/workshop/getList', //数据接口
            contentType: 'application/json',
            page: true, //开启分页
            id: "workshopList2",
            autoSort: false, //禁用前端排序
            cellMinWidth: 120,
            cols: [
                [ //表头
                    {field: 'name',  title: '加工坊名', fixed: 'left'}
                    ,{field: 'customerName',  title: '所属客户', sort: true}
                    ,{field: 'phone',  title: '电话'}
                    ,{field: 'remarks',  title: '备注', minWidth: 200}
                    ,{title:'操作', toolbar: '#barDemo', width:85}
                ]
            ]
        });

        //搜索
        var active = {
            reload: function(){
                table.reload('workshopList2', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key:  $("#s_key").val()
                    }
                });
            }
        };

        $('#s_reload').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';

        });

        //监听排序事件
        table.on('sort(workshopList)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(obj.field); //当前排序的字段名
            console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
            console.log(this); //当前排序的 th 对象

            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('workshopList2', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                }
            });
        });

        //监听工具条
        table.on('tool(workshopList)', function(obj){
            if(obj.event === 'detail'){
                fieldId = obj.data.id;
                fieldName = obj.data.name;
            }
            //禁用行点击事件
            obj.preventDefault();
        });


        //监听行单击事件（单击事件为：rowDouble）
        table.on('row(workshopList)', function(obj){
            var data = obj.data;
            $("#u_id").val(data.id);
            $("#u_customerId").val(data.customerId);

            // 弹出框赋值
            form.val("u_workshop",{
                "name":data.name
                ,"customerName":data.customerName
                ,"phone":data.phone
                ,"remarks":data.remarks
            });

            // 跳出弹出框
            openModel('加工坊修改', obj);
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });

        //表单验证
        form.verify({
            repeat: function(value){
                if (!value) {
                    return '必填项不能为空'
                }
                //验证加工坊名是否存在
                var checkResult;

                var dataParam = {};
                dataParam["id"]=$("#u_id").val();
                dataParam["customerId"]=$("#u_customerId").val();
                dataParam["name"]=value;
                $.ajax({
                    type: "post",
                    url: "/customer/workshop/checkName",
                    contentType: "application/json",
                    data: JSON.stringify(dataParam),
                    dataType: "json",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data.code !== '0') {
                            checkResult = data.msg;
                        }
                    }
                });
                return checkResult;
            }
        });

        //修改加工坊或新增加工坊(根据u_id是否有值进行判断)
        form.on('submit(doUpdate)', function(data){
            console.log("修改");
            var u_id = $("#u_id").val();
            var dataParam = data.field;
            dataParam["customerId"] = $("#u_customerId").val();
            if (u_id) { //修改加工坊
                dataParam["id"] = u_id;
                $.ajax({
                    type: "post",
                    url: "/customer/workshop/update",
                    contentType: "application/json",
                    data: JSON.stringify(dataParam),
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        if (data.code === '0') {
                            layer.msg("修改成功", {time: 1000},function () {
                                $("#u_id").val('');
                                $("#u_customerId").val('');
                                layer.closeAll();
                                table.reload("workshopList2");
                            });
                        } else {
                            layer.msg(data.msg, {time: 1000});
                        }
                    },
                    error: function () {
                        layer.msg("系统错误，请联系管理员", {time: 1000})
                    }
                });
            } else { //新增加工坊
                $.ajax({
                    type: "post",
                    url: "/customer/workshop/insert",
                    contentType: "application/json",
                    data: JSON.stringify(dataParam),
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        if (data.code === '0') {
                            layer.msg("添加成功", {time: 1000},function () {
                                layer.closeAll();
                                table.reload("workshopList2");
                            });
                        } else {
                            layer.msg(data.msg, {time: 1000});
                        }
                    },
                    error: function () {
                        layer.msg("系统错误，请联系管理员", {time: 1000})
                    }
                });
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //监听下拉选
        form.on('select(u_customer)', function(data){
            $("#u_customerId").val(data.value);
        });

        //弹窗
        openModel = function (title, obj) {
            if (!obj) {
                $("#u_id").val('');
                $("#u_customerId").val('');
                form.val("u_workshop",{
                    "name":''
                    ,"phone":''
                    ,"customerName":''
                    ,"remarks":''
                });
                $('#u_customer').css('display','block')
            }else {
                $('#u_customer').css('display','none')
            }

            layer.open({
                type : 1,
                title : title,
                area: '300px',
                closeBtn : 1,
                shade : 0,
                moveType: 1,
                // offset : '50px',
                // shadeClose : false,
                content : $('#workshopUpdate'),
                cancel:function () {
                    $("#u_id").val('');
                    $("#u_customerId").val('');
                    if (obj) {
                        obj.tr.removeClass('layui-table-click');
                    }
                }
            });
        }
    });

</script>
