<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <!--<div class="layui-col-md3">-->
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><h2 style="float: left">库存</h2>

                            <div style="float: right">
                                <div class="layui-inline">
                                    <input class="layui-input" style="height: 30px; width: 100px"
                                           id="s_key" autocomplete="off" placeholder="型号">
                                </div>
                                <button class="layui-btn layui-btn-sm" data-type="reload" id="s_reload">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>

                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-sm" style="float: right;"
                                        onclick="openModel('库存新增', null)">
                                        <i class="layui-icon">&#xe654;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <table id="stockList" lay-filter="stockList"></table>
                            <div id="laypage"></div>
                        </div>

                        <!--库存修改-->
                        <div style="display: none; padding: 15px" id="stockUpdate">
                            <form class="layui-form layui-form-pane" lay-filter="u_stock" id="u_stock">
                                <input type="hidden" id="u_id">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">型号或类别</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="name" lay-verify="repeat"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">库存</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="num" lay-verify="required|number"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">类别</label>
                                    <div class="layui-input-block">
                                        <select name="type">
                                            <option value=""></option>
                                            <option value="机包">机包</option>
                                            <option value="空包">空包</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">生产数量</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="produceNum" lay-verify="num" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">生产周期</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="produceDay" lay-verify="num" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">当前天数</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="nowDay" lay-verify="num" autocomplete="off"  class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">备注</label>
                                    <div class="layui-input-block">
                                        <textarea name="remarks" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="doUpdate">保存</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail" href="#/stock/recordList">
        <i class="layui-icon">&#xe702;</i>详情
    </a>
</script>

<script th:inline="none">
    layui.config({
        base: '/src/js/'
    }).use(['jquery', 'layer', 'table','form'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            form = layui.form;


        //列表实例
        table.render({
            method: 'post',
            // done: function (res) {
            //     console.log(res)
            // },
            limit: 20,
            elem: '#stockList',
            height: 'full-160',
            url: '../../stock/getList', //数据接口
            contentType: 'application/json',
            page: true, //开启分页
            id: "stockList2",
            autoSort: false, //禁用前端排序
            cellMinWidth: 120,
            cols: [
                [ //表头
                    {field: 'name',  title: '型号', fixed: 'left'}
                    ,{field: 'type',  title: '类别'}
                    ,{field: 'num',  title: '库存', sort:true, totalRow:true}
                    ,{field: 'produceNum',  title: '生产数量', sort:true}
                    ,{field: 'produceDay',  title: '生产周期（天）', sort:true}
                    ,{field: 'nowDay',  title: '当前天数', sort:true}
                    ,{field: 'remarks',  title: '备注', minWidth: 200}
                    ,{title:'操作', toolbar: '#barDemo', width:85}
                ]
            ]
        });

        //搜索
        var active = {
            reload: function(){
                table.reload('stockList2', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: $("#s_key").val()
                    }
                });
            }
        };

        $('#s_reload').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';

        });

        //监听排序事件
        table.on('sort(stockList)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(obj.field); //当前排序的字段名
            console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
            console.log(this); //当前排序的 th 对象

            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('stockList2', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                }
            });
        });

        //监听工具条
        table.on('tool(stockList)', function(obj){
            if(obj.event === 'detail'){
                fieldId = obj.data.id;
                fieldName = obj.data.name;
            }
            //禁用行点击事件
            // obj.preventDefault();
        });


        //监听行单击事件（单击事件为：rowDouble）
        table.on('row(stockList)', function(obj){
            var data = obj.data;
            $("#u_id").val(data.id);

            // 弹出框赋值
            form.val("u_stock",{
                "name":data.name
                ,"type":data.type
                ,"num":data.num
                ,"produceNum":data.produceNum
                ,"produceDay":data.produceDay
                ,"nowDay":data.nowDay
                ,"remarks":data.remarks
            });

            // 跳出弹出框
            openModel('库存修改', obj);
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });

        //表单验证
        form.verify({
            num:function(value) {
                //框架中的数字验证需要必填，我只需要选填
              if (value) {
                  var regPos = /^-?\d+$/;
                  if (!regPos.test(value)) {
                      return '只能填写整数';
                  }
              }
            },
            repeat: function(value){
                if (!value) {
                    return '必填项不能为空'
                }
                //验证型号是否存在
                var checkResult;

                var dataParam = {};
                dataParam["id"]=$("#u_id").val();
                dataParam["name"]=value;
                $.ajax({
                    type: "post",
                    url: "/stock/checkName",
                    contentType: "application/json",
                    data: JSON.stringify(dataParam),
                    dataType: "json",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data.code !== '0') {
                            checkResult = data.msg;
                        }
                    }
                });
                return checkResult;
            }
        });

        //修改库存或新增库存(根据u_id是否有值进行判断)
        form.on('submit(doUpdate)', function(data){
            console.log("修改");
            var u_id = $("#u_id").val();
            var dataParam = data.field;
            if (u_id) { //修改库存
                dataParam["id"] = u_id;
                $.ajax({
                    type: "post",
                    url: "/stock/update",
                    contentType: "application/json",
                    data: JSON.stringify(dataParam),
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        if (data.code === '0') {
                            layer.msg("修改成功", {time: 1000},function () {
                                $("#u_id").val('');
                                layer.closeAll();
                                table.reload("stockList2");
                            });
                        } else {
                            layer.msg(data.msg, {time: 1000});
                        }
                    },
                    error: function () {
                        layer.msg("系统错误，请联系管理员", {time: 1000})
                    }
                });
            } else { //新增库存
                $.ajax({
                    type: "post",
                    url: "/stock/insert",
                    contentType: "application/json",
                    data: JSON.stringify(dataParam),
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        if (data.code === '0') {
                            layer.msg("添加成功", {time: 1000},function () {
                                layer.closeAll();
                                table.reload("stockList2");
                            });
                        } else {
                            layer.msg(data.msg, {time: 1000});
                        }
                    },
                    error: function () {
                        layer.msg("系统错误，请联系管理员", {time: 1000})
                    }
                });
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //弹窗
        openModel = function (title, obj) {
            if (!obj) {
                form.val("u_stock",{
                    "name":''
                    ,"type":''
                    ,"num":''
                    ,"produceNum":''
                    ,"produceDay":''
                    ,"nowDay":''
                    ,"remarks":''
                });
            }

            layer.open({
                type : 1,
                title : title,
                area: '300px',
                closeBtn : 1,
                shade : 0,
                moveType: 1,
                // offset : '50px',
                // shadeClose : false,
                content : $('#stockUpdate'),
                cancel:function () {
                    $("#u_id").val('');
                    if (obj) {
                        obj.tr.removeClass('layui-table-click');
                    }
                }
            });
        }
    });

</script>
