<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <!--<div class="layui-col-md3">-->
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                        </div>
                        <div class="layui-card-body">
                            <table id="stockList" lay-filter="stockList"></table>
                            <div id="laypage"></div>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<script th:inline="none">
    layui.config({
        base: '/src/js/'
    }).use(['jquery', 'layer', 'table'], function () {
        var $ = layui.jquery,
            table = layui.table;

        if (!fieldId) { //页面刷新后导致变量消失
            window.location.href="/home#/stock/list";
        }

        if (fieldName) {
            $(".layui-card-header").html('<h2>' + fieldName + '的出入库记录</h2>');
        }
        //列表实例
        table.render({
            method: 'post',
            // done: function (res) {
            //     console.log(res)
            // },
            where:{"id":fieldId},
            limit: 20,
            elem: '#stockList',
            height: 'full-160',
            url: '../../stock/getRecordList', //数据接口
            contentType: 'application/json',
            page: true, //开启分页
            id: "stockList2",
            autoSort: false, //禁用前端排序
            cellMinWidth: 120,
            cols: [
                [ //表头
                    {field: 'createTime',  title: '日期', sort:true}
                    ,{field: 'type',  title: '类别', sort:true}
                    ,{field: 'num',  title: '箱数', sort:true}
                ]
            ]
        });

        //监听排序事件
        table.on('sort(stockList)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            // console.log(obj.field); //当前排序的字段名
            // console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
            // console.log(this); //当前排序的 th 对象

            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('stockList2', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                }
            });
        });
    });

</script>
