<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.dao.PurchaseMapper">
    <resultMap id="BaseResultMap" type="com.stock.domain.Purchase">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="purchase_name" jdbcType="VARCHAR" property="purchaseName"/>
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="num" jdbcType="REAL" property="num"/>
        <result column="price" jdbcType="REAL" property="price"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="purchase_time" jdbcType="TIMESTAMP" property="purchaseTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, purchase_name, channel, num, price, create_time
    </sql>

    <select id="queryList" parameterType="map" resultType="map">
        SELECT
          id, purchase_name purchaseName, channel, num, price, remarks,
          date_format(purchase_time,'%Y-%m-%d') purchaseTime , num*price totalPrice
        FROM purchase
        <where>
            status = '1'
            <if test="key != null and key != ''">
                AND (
                    purchase_name LIKE CONCAT (#{key, jdbcType=VARCHAR}, '%')
                    OR channel  LIKE CONCAT (#{key, jdbcType=VARCHAR}, '%')
                )
            </if>
            <if test="startTime!=null and startTime!='' ">
                AND purchase_time >= #{startTime, jdbcType=VARCHAR}
            </if>
            <if test="endTime!=null and endTime!='' ">
                AND purchase_time &lt;= #{endTime, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryBillList" parameterType="map" resultType="map">
        SELECT
           channel, purchase_time purchaseTime, SUM(num*price) totalPrice
        FROM purchase
        <where>
            status = '1'
            <if test="key != null and key != ''">
               AND purchase_name LIKE CONCAT (#{key, jdbcType=VARCHAR}, '%')
            </if>
            <if test="startTime!=null and startTime!='' ">
                AND purchase_time >= #{startTime, jdbcType=VARCHAR}
            </if>
            <if test="endTime!=null and endTime!='' ">
                AND purchase_time &lt;= #{endTime, jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY purchase_time, channel
    </select>
</mapper>